/* woff2 : Super Modern Browsers */
/* woff :Modern Browsers */

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 100;
    src: url('../assets/fonts/anek-malayalam-v4-malayalam-100.woff2') format('woff2'),
      url('../assets/fonts/anek-malayalam-v4-malayalam-100.woff') format('woff');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 200;
    src: url('../assets/fonts/anek-malayalam-v4-malayalam-200.woff2') format('woff2'),
      url('../assets/fonts/anek-malayalam-v4-malayalam-200.woff') format('woff');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/Ubuntu-Light.ttf') format('truetype'),
      url('../assets/fonts/Ubuntu-LightItalic.ttf') format('truetype');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Ubuntu-Regular.ttf') format('truetype'),
      url('../assets/fonts/Ubuntu-Italic.ttf') format('truetype');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/Ubuntu-Medium.ttf') format('ttf'),
      url('../assets/fonts/Ubuntu-MediumItalic.ttf') format('ttf');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/anek-malayalam-v4-malayalam-600.woff2') format('woff2'),
      url('../assets/fonts/anek-malayalam-v4-malayalam-600.woff') format('woff');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/Ubuntu-Bold.ttf') format('ttf'),
    url('../assets/fonts/Ubuntu-BoldItalic.ttf') format('ttf');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/anek-malayalam-v4-malayalam-800.woff2') format('woff2'),
      url('../assets/fonts/anek-malayalam-v4-malayalam-800.woff') format('woff');
    font-display: swap;
  }